body {
  background-color: White;
  width: 100%; 
  max-width: 1950px;
}

div.wrap {
  max-width: 1950px;
}

h1 {
  color: Black;
  margin-left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Titles {
  text-align:center;
  font-family: "Kumbh Sans", sans-serif;
  font-size:x-large;
  border: 1px solid LightGray;
  background-color: LightGray;
  width: 1950px; 
  color: Black;
  
}

.profilePic {
  position: relative;
  text-align: center;
  top:30px;
  font-family: "Verdana", sans-serif;
}

.Navigation {
  position: relative;
  left:500px;
  top:-350px;
  font-family: "Verdana", sans-serif;
}

.aboutMe {
  font-family: "Verdana", sans-serif;
  position: relative;
  left: 1150px;
  top:-755px;
  width: 600px; 
  max-width: 500px; 
  padding: 12px 0px;
  border: 1px solid #555;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border: 1px solid #555;
  width: 270px;
  font-size:small;
}

li a {
  display: block;
  color: #000;
  padding: 12px 4px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
  color: White;
}

li {
  border-bottom: 1px solid #555;
}

li:lastchild {
  border-bottom: none;
}


