body {
  background-color: LightCyan;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  color: RoyalBlue;
  margin-left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Titles {
  text-align:center;
  font-family: "Kumbh Sans", sans-serif;
  font-size:x-large;
}

.profilePic {
  text-align: center;
  font-family: "Verdana", sans-serif;
  position: relative; 
  top:30px;
}

.Navigation {
  position: relative;
  left:350px;
  top:-400px;
  font-family: "Verdana", sans-serif;
}

.aboutMe {
  font-family: "Verdana", sans-serif;
  position: relative;
  left:1200px;
  top:-1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border: 1px solid #555;
  width: 80px;
  font-size:small;
}

li a {
  display: block;
  color: #000;
  padding: 2px 4px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
  color: white;
}

li {
  border-bottom: 1px solid #555;
}

li:lastchild {
  border-bottom: none;
}


